<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/style/output.css" rel="stylesheet">
    <title>Presentation</title>
</head>
<body>
    <%- include('partials/head_1') %>
    <%- include('partials/menu') %>
    <!-- <div class="w-full flex justify-end overflow-hidden ">
        <img src="/assets/pokeball_verde_png.png" class="h-96 transform rotate-45 -scale-y-100 object-cover" alt="">
    </div> -->

    <div class="hero min-h-screen">
        <div class="hero-content text-center">
          <div class="max-w-md">
            <h1 class="text-5xl font-bold">Hello there</h1>
            <p class="py-6">Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi.</p>
            <button class="btn btn-primary">Get Started</button>
          </div>
        </div>
      </div>
    <%- include('partials/footer') %>
</body>
</html>