<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/style/output.css" rel="stylesheet">
  <title>Home</title>
</head>

<body>
  <%- include('partials/navbar') %>
    <%- include('partials/menu') %>

      <div class="flex gap-2 my-auto w-[95%] justify-end ">
        <div class="text-xl mt-7 text-[#fe3d52]">Benvenuto <span id="user">Loading ...</span></div>
        <div><img src="/assets/OIG4 (1).jpeg" class="h-20" alt=""></div>
      </div>
      
      <div class="ml-[1050px]">
        <div class="hero ">
          <div class="hero-content text-center w-3/4 rounded-full border-[14px] border-[#003b15]">
            
          </div>
        </div>
        <div class="flex justify-center w-full -mt-36 mb-20">
          <img src="/assets/pokeball_verde_png.png" class="h-80 rotate-180 -z-10 " alt="">
        </div>
      </div>
 


      <%- include('partials/footer') %>
        <%- include('partials/drawer_content') %>
          <script src="/scripts/home.js"></script>
</body>

</html>