<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/style/output.css" rel="stylesheet">
  <title>Home</title>
</head>

<body>
  <%- include('partials/navbar') %>
    <%- include('partials/menu') %>

      <div class="flex gap-2 my-auto w-[95%] justify-end ">
        <div class="text-xl mt-7 text-[#fe3d52]">Benvenuto <span id="user">Loading ...</span></div>
        <div><img src="/assets/OIG4 (1).jpeg" class="h-20" alt=""></div>
      </div>

      <div class="md:ml-[1050px]">
        <div class="hero ">
          <div class="hero-content text-center w-3/4 rounded-full border-[14px] border-[#003b15]">
            <div class="flex flex-col mb-5">
              <img src="/assets/charmander_innaffia.png" class="h-52 -mt-16" alt="">
              <h1>provaaaaaaaa</h1>
            </div>
            
            
          </div>
        </div>
        <div class="flex justify-center w-full -mt-28 md:-mt-36 mb-20">
          <img src="/assets/pokeball_verde_png.png" class=" md:h-80 rotate-180 -z-10 " alt="">
        </div>
      </div>
      <div class="flex w-1/2 justify-center mx-auto">
        <h1 class="text-black">Weather App</h1>
        <input id="cityInput" placeholder="Enter city" type="text" class="input input-bordered w-full bg-white">
        <button onclick="getWeatherNow()">Get Weather</button>
        <div class="weather-info" id="weatherInfo"></div>
      </div>
      <div class="flex w-1/2 justify-center mx-auto">
        <h1 class="text-black">Weather App</h1>
        <input id="cityInputFour" placeholder="Enter city" type="text" class="input input-bordered w-full bg-white">
        <button onclick="getWeatherFour()">Get Weather four</button>
        <div class="weather-info" id="weatherInfoFour"></div>
      </div>



      <%- include('partials/footer') %>
        <%- include('partials/drawer_content') %>
          <script src="/scripts/home.js"></script>
          <script src="/scripts/weatherAPI.js"></script>
</body>

</html>