<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/style/output.css" rel="stylesheet">
    <title>Home</title>
    <style>
        tr.clickable {
            cursor: pointer;
        }
    </style>
</head>


<body>
    <%- include('partials/navbar') %>
        <%- include('partials/menu') %>
            <div class="hero">
                <div class="hero-content text-center">
                    <div class="w-3/4">
                        <h1 class="text-2xl font-bold">Hey da qui puoi creare il tuo nuovo orto!</h1>
                        <!-- <p class="py-6">Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi
                            exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi.</p> -->
                        
                        <!-- modal crea nuovo orto -->
                        <div class="w-full justify-center flex">
                            <button
                            class="btn bg-[#90ee90] hover:bg-white hover:border-2 mt-6  mb-8 md:mb-0 text-[14px] hover:border-[#90ee90] w-[300px]"
                            onclick="my_modal_4.showModal()">Crea orto</button>

                        </div>
                        <dialog id="my_modal_4" class="modal">
                            <div class="modal-box md:w-1/2 md:max-w-5xl">
                                <h1 class="text-center text-[18px]">Creazione nuovo orto</h1>
                                <div class="card shrink-0 w-full border-x-8 border-[#90ee90] bg-base-100">
                                    <div class="flex flex-col md:flex-row gap-2 md:gap-10">
                                        <form id="userForm" class="card-body">
                                            <div class="form-control -mt-8">
                                                <label class="label">
                                                    <span class="label-text">Nome</span>
                                                </label>
                                                <input type="text" name="firstName" placeholder="nome"
                                                    class="input input-bordered border-2 border-blue-400" />
                                            </div>
                                            <div class="form-control">
                                                <label class="label">
                                                    <span class="label-text">Cognome</span>
                                                </label>
                                                <input type="text" name="lastName" placeholder="cognome"
                                                    class="input input-bordered border-2 border-blue-400" />
                                            </div>
                                            <div class="form-control">
                                                <label class="label">
                                                    <span class="label-text">Email</span>
                                                </label>
                                                <input type="email" name="email" placeholder="email"
                                                    class="input input-bordered border-2 border-blue-400" />
                                            </div>
                                            <div class="form-control tooltip hover:tooltip-right "
                                                data-tip="Minimo 5 caratteri">
                                                <label class="label">
                                                    <span class="label-text">Password</span>
                                                </label>
                                                <input type="password" name="password" placeholder="password"
                                                    class="input border-2 input-bordered border-blue-400" />
                                            </div>
                                            <div class="form-control">
                                                <label class="label">
                                                    <span class="label-text">Ripeti password</span>
                                                </label>
                                                <input type="password" name="confirmPassword" placeholder="password"
                                                    class="input border-2 input-bordered border-blue-400" />
                                            </div>
                                            <div class="form-control mt-6">
                                                <button
                                                    class="btn bg-[#fe3d52] hover:bg-white hover:border-2 hover:border-[#fe3d52]">Completa
                                                    la modifica</button>
                                            </div>
                                        </form>
                                        <div class="justify-center m-auto"><img src="/assets/anson_png.png"
                                                class="h-52 md:h-80 -mt-10 md:mt-0" alt=""></div>
                                    </div>
                                </div>
                                <div class="modal-action">
                                    <form method="dialog">
                                        <!-- if there is a button, it will close the modal -->
                                        <button
                                            class="btn bg-[#90ee90] hover:bg-white hover:border-2 hover:border-[#90ee90]">Chiudi</button>
                                    </form>
                                </div>
                            </div>
                        </dialog>
                    </div>
                </div>
            </div>


            <h1 class="text-4xl text-center mt-5 md:mt-32">La lista dei miei orti</h1>
            <div class="w-[85%] flex justify-end mb-20 md:mb-40">
                <div class="overflow-x-auto ">
                    <table class="table">
                        <!-- head -->
                        <thead>
                            <tr class="text-xl text-blue-950">
                                <th>Nome orto</th>
                                <th>Tipo di coltivazione</th>
                                <th>Prossimo evento pianificato</th>
                                <th>Meteo attuale</th>
                                <th>Azioni</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- row 1 -->
                            <tr class="clickable" onclick="window.location='/home'">
                                <td>
                                    <div class="flex items-center gap-3">
                                        <div class="avatar">
                                            <div class="mask mask-squircle w-12 h-12">
                                                <img src="https://img.daisyui.com/tailwind-css-component-profile-2@56w.png"
                                                    alt="Avatar Tailwind CSS Component" />
                                            </div>
                                        </div>
                                        <div>
                                            <div class="font-bold">Hart Hagerty</div>
                                            <div class="text-sm opacity-50">United States</div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    Zemlak, Daniel and Leannon
                                    <br />
                                    <span class="badge badge-ghost badge-sm">Desktop Support Technician</span>
                                </td>
                                <td>Purple</td>
                                <td></td>
                                <th class="flex flex-col">
                                    <button class="btn btn-ghost btn-xs"><a href="/profilo">Dettagli</a></button>
                                    <button class="btn btn-ghost btn-xs">Pianifica</button>
                                </th>
                            </tr>
                        </tbody>



                    </table>
                </div>

            </div>




            <%- include('partials/footer') %>
                <%- include('partials/drawer_content') %>
                    <script src="/scripts/home.js"></script>
</body>

</html>