<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/style/output.css" rel="stylesheet">
    <title>Home</title>
    <style>
        tr.clickable {
            cursor: pointer;
        }
    </style>
</head>


<body>
    <%- include('partials/navbar') %>
        <%- include('partials/menu') %>
            <div class="hero">
                <div class="hero-content text-center">
                    <div class="w-3/4">
                        <h1 class="text-2xl">Hey da qui puoi creare il tuo nuovo orto!</h1>
                        <!-- modal crea nuovo orto -->
                        <div class="w-full justify-center flex">
                            <button
                                class="btn bg-[#90ee90] hover:bg-white hover:border-2 mt-6 font-light text-xl mb-8 md:mb-0 hover:border-[#90ee90] w-[300px]"
                                onclick="myModal.showModal()">Crea orto</button>

                        </div>
                        <dialog id="myModal" class="modal">
                            <div class="modal-box md:w-1/2 md:max-w-5xl">
                                <h1 class="text-center text-[18px]">Creazione nuovo orto</h1>
                                <div class="card shrink-0 w-full border-x-8 border-[#90ee90] bg-base-100">
                                    <div class="flex flex-col md:flex-row gap-2 md:gap-10">
                                        <form id="ortoForm" class="card-body">
                                            <div class="form-control -mt-8">
                                                <label class="label">
                                                    <span class="label-text">Nome</span>
                                                </label>
                                                <input type="text" name="nome" placeholder="nome"
                                                    class="input input-bordered border-2 border-blue-400" required />
                                            </div>
                                            <div class="form-control">
                                                <label class="label">
                                                    <span class="label-text">Luogo</span>
                                                </label>
                                                <input type="text" id="citta" name="citta" placeholder="luogo"
                                                    class="input input-bordered border-2 border-blue-400" required />
                                            </div>
                                            <div class="flex w-full">
                                                <div class="form-control">
                                                    <label class="label">
                                                        <span class="label-text">Tipo di piantagione</span>
                                                    </label>
                                                    <select type="text" id="sceltaOrtaggi" name="sceltaOrtaggi"
                                                        placeholder="Tipo piantagione"
                                                        class="input input-bordered border-2 border-blue-400"></select>
                                                </div>
                                                <div>
                                                    <div class="form-control">
                                                        <label class="label">
                                                            <span class="label-text">Numero di piantine</span>
                                                        </label>
                                                        <input type="number" name="numeroPiante" placeholder="Numero"
                                                            class="input input-bordered border-2 w-[100px] md:w-[140px]  border-blue-400"
                                                            required />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-control">
                                                <label class="label">
                                                    <span class="label-text">Data semina</span>
                                                </label>
                                                <input type="date" name="data" placeholder="Data"
                                                    class="input border-2 input-bordered border-blue-400" required />
                                            </div>
                                            <div class="form-control">
                                                <label class="label">
                                                    <span class="label-text">Sistemazione</span>
                                                </label>
                                                <select id="sistemazione" name="sistemazione" placeholder="Sistemazione"
                                                    class="input border-2 input-bordered border-blue-400"></select>
                                            </div>
                                            <div class="form-control mt-6">
                                                <button
                                                    class="btn bg-[#fe3d52] hover:bg-white hover:border-2 font-light hover:border-[#fe3d52]">Completa
                                                    la creazione</button>
                                            </div>
                                        </form>
                                        <div class="justify-center m-auto"><img src="/assets/campionessa.png"
                                                class="h-60 md:h-96 -mt-10 md:mt-0" alt=""></div>
                                    </div>
                                </div>
                                <div class="modal-action">
                                    <form method="dialog">
                                        <!-- if there is a button, it will close the modal -->
                                        <button
                                            class="btn bg-[#90ee90] hover:bg-white hover:border-2 hover:border-[#90ee90]">Chiudi</button>
                                    </form>
                                </div>
                            </div>
                        </dialog>
                    </div>
                </div>
            </div>

            <!-- 
            <h1 class="text-4xl text-center mt-5 md:mt-32">I miei orti</h1>
            <div class="w-[85%] flex justify-end mb-20 md:mb-40">
                <div class="overflow-x-auto ">
                    <table id="ortoTable" class="table">
                        
                        <thead>
                            <tr class="text-xl text-blue-950">
                                <th>Nome orto</th>
                                <th>Tipo di coltivazione</th>
                                <th>Prossimo evento pianificato</th>
                                <th>Meteo attuale</th>
                                <th>Azioni</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div> -->
            <h1 class="text-4xl text-center mt-5 md:mt-10 mb-20">I miei orti</h1>
            <div id="card-template" class="flex justify-center " style="display: none;">
                <div class="card w-72 shadow-xl">
                    <figure class="">
                        <img src="/assets/carta2.png" alt="Card" />
                    </figure>
                    <div class="card-body -mt-48">
                        <div class="flex justify-between -mt-[225px]">
                            <div class="w-6 h-6 bg-white rounded-full flex items-center justify-center">
                                <h2 name="numero" class="card-title font-light">3</h2>
                            </div>
                            <h2 name="nome" class="card-title font-light ">Nome orto</h2>
                            <div></div>
                            
                        </div>
                        <div class="flex justify-center">
                            <img name="img" src="/assets/pomodoro_png.png" class="h-40" alt="">
                        </div>
                        <div class="mt-2 ml-4  flex justify-center ">
                            <ul class="list-disc">
                                <li name="tipo">Tipo di coltivazione</li>
                                <li name="evento">Prossimo evento pianificato</li>
                                <li name="meteo">Meteo attuale</li>
                            </ul>
                        </div>
                        <div class="h-2">
                            <button class="btn w-full bg-white font-light text-xl hover:bg-[#93d051] border-4 border-[#fcce19]"><a href="/home">Controlla orto</a></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-full flex justify-center">
                <div id="cards-container" class="grid md:grid-cols-2 gap-20 md:gap-20 justify-items-center mb-20"></div>
            </div>
            




            <%- include('partials/footer') %>
                <%- include('partials/drawer_content') %>
                    <script src="/scripts/mieiorti.js"></script>
                    <script src="/scripts/mieiortiForm.js"></script>
</body>

</html>