<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/style/output.css" rel="stylesheet">
    <title>Profilo</title>
</head>

<body>
    <%- include('partials/navbar') %>
        <%- include('partials/menu') %>
            <div class="flex gap-2 justify-center mt-20 text-2xl mb-4 text-[#003b15]">Profilo di <span id="firstname_head" class="text-[#fe3d52]">Loading ...</span></div>
            <div class="hero">
                <div class="hero-content text-center md:w-[55%] rounded-full border-[14px] border-[#003b15]">
                    <div class="flex flex-col gap-4 mt-6 mb-6">
                        <label class="input input-bordered flex items-center gap-2">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor"
                                class="w-4 h-4 opacity-70">
                                <path
                                    d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6ZM12.735 14c.618 0 1.093-.561.872-1.139a6.002 6.002 0 0 0-11.215 0c-.22.578.254 1.139.872 1.139h9.47Z" />
                            </svg>
                            <span id="firstname">Loading ...</span>
                        </label>
                        <label class="input input-bordered flex items-center gap-2">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor"
                                class="w-4 h-4 opacity-70">
                                <path
                                    d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6ZM12.735 14c.618 0 1.093-.561.872-1.139a6.002 6.002 0 0 0-11.215 0c-.22.578.254 1.139.872 1.139h9.47Z" />
                            </svg>
                            <span id="lastname">Loading ...</span>
                        </label>

                        <label class="input input-bordered flex items-center gap-2">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor"
                                class="w-4 h-4 opacity-70">
                                <path
                                    d="M2.5 3A1.5 1.5 0 0 0 1 4.5v.793c.026.009.051.02.076.032L7.674 8.51c.206.1.446.1.652 0l6.598-3.185A.755.755 0 0 1 15 5.293V4.5A1.5 1.5 0 0 0 13.5 3h-11Z" />
                                <path
                                    d="M15 6.954 8.978 9.86a2.25 2.25 0 0 1-1.956 0L1 6.954V11.5A1.5 1.5 0 0 0 2.5 13h11a1.5 1.5 0 0 0 1.5-1.5V6.954Z" />
                            </svg>
                            <span id="email">Loading ...</span>
                        </label>
                        <button class="btn bg-[#90ee90] hover:bg-white hover:border-2  mb-8 md:mb-0 text-[14px] hover:border-[#90ee90] w-[300px]" onclick="my_modal_4.showModal()">Modifica profilo</button>
                        <dialog id="my_modal_4" class="modal">
                            <div class="modal-box md:w-1/2 md:max-w-5xl">
                                <h1 class="text-center text-[18px]">Modifica il tuo profilo</h1>
                                <div class="card shrink-0 w-full border-x-8 border-[#90ee90] bg-base-100">
                                    <div class="flex flex-col md:flex-row gap-2 md:gap-10">
                                        <form id="userForm" class="card-body">
                                            <div class="form-control -mt-8">
                                                <label class="label">
                                                    <span class="label-text">Nome</span>
                                                </label>
                                                <input type="text" name="firstName" placeholder="nome" class="input input-bordered border-2 border-blue-400" />
                                            </div>
                                            <div class="form-control">
                                                <label class="label">
                                                    <span class="label-text">Cognome</span>
                                                </label>
                                                <input type="text" name="lastName" placeholder="cognome" class="input input-bordered border-2 border-blue-400" />
                                            </div>
                                            <div class="form-control">
                                                <label class="label">
                                                    <span class="label-text">Email</span>
                                                </label>
                                                <input type="email" name="email" placeholder="email" class="input input-bordered border-2 border-blue-400" />
                                            </div>
                                            <div class="form-control  tooltip tooltip-right " data-tip="Minimo 5 caratteri">
                                                <label class="label">
                                                    <span class="label-text">Password</span>
                                                </label>
                                                <input type="password" name="password" placeholder="password" class="w-full input border-2 input-bordered border-blue-400" />
                                            </div>
                                            <div class="form-control">
                                                <label class="label">
                                                    <span class="label-text">Ripeti password</span>
                                                </label>
                                                <input type="password" name="confirmPassword" placeholder="password" class="input border-2 input-bordered border-blue-400" />
                                            </div>
                                            <div class="form-control mt-6">
                                                <button class="btn bg-[#fe3d52] hover:bg-white hover:border-2 hover:border-[#fe3d52]">Completa la modifica</button>
                                            </div>
                                        </form>
                                        <div class="justify-center m-auto"><img src="/assets/anson_png.png" class="h-52 md:h-80 -mt-10 md:mt-0" alt=""></div>
                                    </div>
                                </div>
                              <div class="modal-action">
                                <form method="dialog">
                                  <!-- if there is a button, it will close the modal -->
                                  <button class="btn bg-[#90ee90] hover:bg-white hover:border-2 hover:border-[#90ee90]">Chiudi</button>
                                </form>
                              </div>
                            </div>
                          </dialog>
                    </div>
                </div>
            </div>
            <div class="flex justify-center w-full -mt-[146px] md:-mt-36 mb-20">
                <img src="/assets/pokeball_verde_png.png" class="md:h-80 rotate-180 -z-10 " alt="">
            </div>






            <%- include('partials/footer') %>
                <%- include('partials/drawer_content') %>
                <script src="//cdnjs.cloudflare.com/ajax/libs/validate.js/0.13.1/validate.min.js"></script>
                <script src="/scripts/profilo.js"></script>
                <script src="/scripts/confirmation.js"></script>
</body>

</html>