<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/style/output.css" rel="stylesheet">
    <title>Table</title>
</head>

<body>
    <div class="mx-auto max-w-6xl w-full mt-20 flex flex-col gap-10 border-solid border-2 mb-40">
        <h1 class="text-blue-600 text-center text-2xl font-bold mt-10">TABELLA UTENTI</h1>
        <button onclick="openCreateUserModal()"
            class="btn border-solid border-2 border-gray-700 w-full hover:bg-orange-500">+Aggiungi nuovo utente</button>
        <button id="DBReset" class="btn w-full border-solid border-2 border-gray-700 btn-error">Resetta
            Database</button>
        <button id="DBCreation" class="btn w-full border-solid border-2 border-gray-700 btn-success">Popola
            Database</button>
        <!-- user modal -->
        <dialog id="userModal" class="modal">
            <div class="modal-box flex flex-col gap-4">
                <h3 class="font-bold text-lg">Nuovo utente</h3>
                <form id="userForm" class="flex flex-col gap-4">
                    <input name="firstName" placeholder="Nome" type="text" class="input input-bordered w-full">
                    <input name="lastName" placeholder="Cognome" type="text" class="input input-bordered w-full">
                    <input name="email" placeholder="Email" type="text" class="input input-bordered w-full">
                    <input name="password" placeholder="********" type="password" class="input input-bordered w-full">
                    <label for="">Ripeti password</label>
                    <input name="convalidaPassword" placeholder="Ripeti password" type="password"
                        class="input input-bordered w-full">
                    <label for="">Inserisci data di nascita</label>
                    <input name="dataNascita" placeholder="Data" type="date" class="input input-bordered w-full">
                    <div class="modal-action">
                        <button type="button" onclick="userModal.close()" class="btn">Chiudi</button>
                        <button class="btn bg-orange-500">Salva</button>
                    </div>
                </form>
            </div>
            <form action="" method="dialog" class="modal-backdrop">
                <button onclick="userModal.close()">close</button>
            </form>
        </dialog>

        <!-- table -->
        <div class="overflow-x-auto ">
            <table class="table table-zebra" id="userTable">
                <!-- head -->
                <thead>
                    <tr>
                        <th></th>
                        <th>Nome</th>
                        <th>Cognome</th>
                        <th>Email</th>
                        <th>Età</th>
                        <th>Azioni</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/validate.js/0.13.1/validate.min.js"></script>
    <script src="/scripts/moment.js"></script>
    <script src="/scripts/users.js"></script>
</body>

</html>