<div class="flex justify-center mx-auto">
    <img src="/assets/logo_brief.png" class="h-40 mt-1 -mb-14" alt="">
</div>
<div class="hidden md:flex w-[85%] justify-end -mt-10 ">
    <button class="btn bg-[#90ee90] hover:bg-white hover:border-2 hover:border-[#90ee90]">Registrati</button>
    <button class="btn bg-[#fe3d52] hover:bg-white hover:border-2 hover:border-[#fe3d52]">Accedi</button>
</div>
<hr class="bg-[#fe3d52] h-2 w-full mt-2">
<div class="flex md:hidden w-[95%] mx-auto justify-between mt-5">
    <button class="btn bg-[#90ee90] hover:bg-white hover:border-2 text-[11px] hover:border-[#90ee90]">Registrati</button>
    <button class="btn bg-[#fe3d52] hover:bg-white hover:border-2 text-[11px] hover:border-[#fe3d52]">Accedi</button>
</div>