@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'myFont';
    src: url(/fonts/LuckiestGuy-Regular.ttf);
}

body {
    font-family: 'myFont';
  }

.bg-custom {
    background-image: url(/assets/download.jpeg);
    background-repeat: repeat;
    background-size: 200px;
}

.bg-custom2 {
    background-image: url(/assets/simboli_bianco.png);
    background-repeat: repeat;
    background-size: 180px;
}

div, h1, h2, h3, h4, h5, h6, p, span, a, th, tr, button, li, ul, ol, input, textarea, select {
    font-weight: 300;
}
